@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.lightgrid {
    background-size: 170px 170px;
    background-position:center;
    background-position-y: initial;
    background-color: white;
    background-image:
      linear-gradient(to right, #5f5f5f17 2px, transparent 2px),
      linear-gradient(to bottom, #5f5f5f17 2px, transparent 2px);
    overflow-x: hidden;
}

.bluegrid {
  background-size: 170px 170px;
    background-position:center;
    background-position-y: initial;
    background-color: #7094FA;
    background-image:
      linear-gradient(to right, #020e3013 2px, transparent 2px),
      linear-gradient(to bottom, #020e3013 2px, transparent 2px);
    overflow-x: hidden;
}

.BlueBlur {
  z-index: -1;
  opacity: 0.5;
  animation: spin 15s linear infinite;
  filter: blur(3.5rem);
}

.markdown {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grassBg {
  background-image: url("/assets/icons/otom/grassBg.svg");
  background-repeat: no-repeat;
  opacity: 50;
  background-size: cover;
}
.grassBgDark {
  background-image: url("/assets/icons/otom/grassBgDark.svg");
  background-repeat: no-repeat;
  opacity: 50;
  background-size: cover;
}

.bgblur {
  background-image: url("/assets/icons/otom/bgblur.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

i {
  color: #698DF7;
  font-weight: bold;
}


/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border: solid 3px;
  background: #698df72f; 
  border-color: #ffffff;
  border-radius: 20px;

}

@tailwind base;
@tailwind components;
@tailwind utilities; 